<div class="nav-menu">
    <div class="brand-header">
        <a href="" class="brand-link">
            E-CORE <br/> <span class="highlight">HYPERDRIVE</span>
        </a>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-group">
                <span class="group-title">EXPLORE</span>
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-speedometer2" aria-hidden="true"></span> SHOWROOM
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="about">
                        <span class="bi bi-eye" aria-hidden="true"></span> MANIFESTO
                    </NavLink>
                </div>
            </div>

            <div class="nav-group">
                <span class="group-title">SYSTEM</span>
                <div class="nav-item">
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-cpu" aria-hidden="true"></span> CONTROL CENTER
                    </NavLink>
                </div>
            </div>

            <div class="nav-footer">
                <div class="status-indicator">
                    <span class="dot"></span> SYSTEM ONLINE
                </div>
                <div class="copyright">
                    &copy; 2026 E-CORE
                </div>
            </div>
        </nav>
    </div>
</div>
